{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid px-0"> 
    
    <div class="p-5" style="background-color: #61677A;">
        <h1 class="text-center text-white">Packages</h1>
        <p class="text-center text-white"><a href="/" class="text-decoration-none text-white fw-bold">Home</a> / Packages</p>
    </div>

    <div>
        <h2 class="text-capitalize text-center p-5">OUR PACKAGES</h2>
        <div class=" px-3">
            
            <div class="row ">
                {% for pack in packages %}
                <div class="col-sm-12 col-md-3 h-100">
                  <div class="card  mb-5 shadow">
                    <div class="card-header bg-primary text-light">
                        <h5 class="fw-bold text-center">{{pack.package_name}}</h5>
                      </div>
                    <div class="card-body">
                      
                      <p class="card-text">{{pack.package_summary |safe}}</p>
                     
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'package_deatils' pack.id %}" class="btn btn-outline-primary">DETAILS</a>
                        <a href="#" class="btn btn-outline-success">GET QUOTATION</a>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div>
           
        </div>
    </div>
</div>
{% endblock content %}